<h2><span id="userSpan">Please connect to see the</span> todo list</h2>
<form action="/todo/add" method="POST" class="form-with-token">
    <input type="hidden" name="user" id="usernameField" />
    <input type="text" name="newTodo" placeholder="Add a new todo" required maxlength="45" id="inputTodo" disabled />
    <button type="submit" id="addTodo"><img src="/assets/add.svg" alt="add" /></button>
</form>
<ul class="todo-list">
    <% todos.forEach(todo => { %>
    <li class="todo-item <%= todo.completed ? 'completed' : '' %>">
        <form action="/todo/complete/<%= todo.id %>" method="POST" class="todo-complete-form form-with-token">
            <input type="checkbox" name="iscomplete" class="iscomplete" <%= todo.completed ? 'checked' : '' %> />
        </form>

        <span><%= todo.text %></span>
        <div class="actions">
            <form action="/todo/edit/<%= todo.id %>" method="POST" class="form-with-token">
                <button type="submit"><img src="/assets/pen.svg" alt="pen" /></button>
            </form>
            <form action="/todo/delete/<%= todo.id %>" method="POST" class="form-with-token">
                <button type="submit"><img src="/assets/trash.svg" alt="trash" /></button>
            </form>
        </div>
    </li>

    <% }) %>
</ul>
<form action="/todo/clear" method="GET" class="form-with-token">
    <button id="clear" type="submit">Clear all</button>
</form>
