<h2>User todos list</h2>
<form action="/todo/add" method="POST">
    <input type="text" name="newTodo" placeholder="Add a new todo" required maxlength="45" />
    <button type="submit"><img src="/assets/add.svg" alt="add" /></button>
</form>
<ul>
    <% todos.forEach(todo => { %>
    <li class="todo-item <%= todo.completed ? 'completed' : '' %>">
        <form action="/todo/complete/<%= todo.id %>" method="POST" class="todo-complete-form">
            <input type="checkbox" name="iscomplete" class="iscomplete" <%= todo.completed ? 'checked' : '' %> />
        </form>

        <span><%= todo.text %></span>
        <div class="actions">
            <form action="/todo/edit/<%= todo.id %>" method="POST">
                <button type="submit"><img src="/assets/pen.svg" alt="pen" /></button>
            </form>
            <form action="/todo/delete/<%= todo.id %>" method="POST">
                <button type="submit"><img src="/assets/trash.svg" alt="trash" /></button>
            </form>
        </div>
    </li>

    <% }) %>
</ul>
<form action="/todo/clear" method="GET">
    <button id="clear" type="submit">Clear all</button>
</form>
